body
{

background: #111111; 

}
button1
{
height: "50px"
width: "50px"
border: "hidden"
background: "hidden"
}
button2
{
height: "50px"
width: "50px"
border: "hidden"
background: "hidden"
}
button3
{
height: "50px"
width: "50px"
background: "hidden"
border: "hidden"
}